.product-list{
	background: white;
	padding: 15px;
}
.product-list h2{
	font-weight: bolder;
}
.product-list table{
	height: 100%;
	width: 100%;
	padding: 20px 20px 20px 20px;
	text-align: center;
}
.product-list table tr{
	border: 2px solid black;
	column-span: 5px;
}
.product-list table td{
	border: 2px solid black;
}
